#all {
  height: 8000px;
  overflow: hidden;
  position: relative;
}


.layer {
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 8000px;
  position: fixed;
  z-index: -1;
}
